*{
    margin: 0;
    padding: 0;
}


/*----------Navigation-----------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 60px;
    width: 70px;
    padding-left: 4px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #0064FF!important;
}
#nav-bar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: white;
    font-family: "Lucida Calligraphy";
    font-size: 40px;
}